- title = "Šrifts"
- content = "Lorém ípšum dolor sit amet, ea brůtě péténtium eoš, duó facér čivibus ať. Id quas ňovum mandamůs ést. Ne nobis saepe lobórtis qui, áeťérno tincidúňt an quo. Měl euišmód ullamcorpeř ěx, aď alia vidit debět méa. Has at dico consulátu hénďrérit, fúgit ňúsquam eum te. Lobortis péřicula has át, němóre labores ďěleniti no mel, aň ůsú facěťe gubergrén. Pri díctas quaěqůě définitióňes ex."
doctype html
html
  head
    meta(charset="utf-8")
    title= title
    link(rel="stylesheet", href="css/font.css")
  body
    h1= title
    
    p.style= content
    p.variant= content
    p.weight= content
    p.size= content
    
    p.family.c= content
    p.family.f= content
    p.family.m= content
    p.family.sa= content
    p.family.se= content
    
    p.family.common= content
    
    p.all= content
